torch==2.0.1
torchvision==0.15.2
gradio==4.30.0
opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78
Pillow==10.1.0
imageio==2.34.0
imageio-ffmpeg==0.4.10
numpy==1.24.3
scipy==1.11.4
matplotlib==3.8.2
tqdm==4.66.1
requests==2.31.0
fastest-cmap==1.0.0
filelock==3.13.1
fsspec==2023.12.2
huggingface-hub==0.19.4
networkx==3.2.1
tkinter-filedialog==1.0
pydantic==2.5.0
